# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Learning cards.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\S.K.L\Documents\_code\Unity\Learning cards\.idea\.idea.Learning cards\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
